.canvas-wrapper {
  width: 420px;
  height: 420px;
  border-radius: 10px;
}

.img-top {
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 10px 10px 25px #888888;
  position: absolute;
  width: 420px;
  height: 380px;
  z-index: 3;
}

.img-middle {
  @extend .img-top;
  background-color: rgb(235, 235, 235);
  top: 40px;
  left: 10px;
  width: 400px;
  height: 360px;
  z-index: 2;
}

.img-bottom {
  @extend .img-top;
  background-color: rgb(230, 230, 230);
  top: 80px;
  left: 20px;
  width: 380px;
  height: 340px;
  z-index: 1;
}