<div class="register-wrapper">
  <div class="header-container">
    <h1 class="header-container__headline">Add a family member</h1>
    <p class="header-container__paragraph">Start by adding members of your family for a more personalised experience.
    </p>
  </div>

  <div class="component-container">

    <div *ngIf="this.x==1" class="component-container__middle">
      <!-- to miejsce na component -->

      <app-registerinput></app-registerinput>
      <app-registerinput></app-registerinput>
      <app-registerinput></app-registerinput>
      <app-registerinput></app-registerinput>

      <!-- to miejsce na component -->
    </div>

  </div>
  <div class="nav-buttons">
    <button id="prev" class="nav-buttons__btn nav-buttons__btn--prev">Back</button>
    <button id="next" class="nav-buttons__btn nav-buttons__btn--next">Next</button>
  </div>
</div>
