<div class="register-wrapper">
  <div class="header-container">
    <h1 class="header-container__headline">Add a family member</h1>
    <p class="header-container__paragraph">Start by adding members of your family for a more personalised experience.
    </p>
  </div>

  <div class="component-container">
    <div class="component-container__middle">
      <!-- step 1 -->
      <app-usertype *ngIf="this.registerStep==0" (emitUserType)="getUserType($event)">
      </app-usertype>
      <!-- step 2 -->
      <app-registerinput *ngIf="this.registerStep==1" (emitName)="getName($event)" [userName]="userNamee">
      </app-registerinput>
      <!-- step 3 -->
      <app-avatar *ngIf="this.registerStep==2" (emitAvatar)="getAvatar($event)" [chosenAvatar]="userAvatar">
      </app-avatar>
      <!-- step 4 -->
      <app-color *ngIf="this.registerStep==3" (emitColor)="getColor($event)" [chosenColor]="userColor"></app-color>
      <!-- step 5 summary -->
      <ng-container *ngIf="this.registerStep==4">
        <h2 class="header-container__headline--h2">Does that sound alright?</h2>
        <p class="header-container__paragraph"> Check if everything is in order and confirm to create an account or go
          back to make changes.</p>
        <div class="component-container__middle--summary">
          <app-registersumm [userName]="userNamee" [chosenAvatar]="userAvatar" [chosenColor]="userColor"
            [userType]="personType" [PIN]="userPIN">
          </app-registersumm>
        </div>
        <div class="component-container__pin">
          <h2 class="header-container__headline--h2">Create PIN for this account!</h2>
          <p class="header-container__paragraph">Insert 4 charecters. </p>
          <input class="input-wrapper__input" maxlength="4" (input)="validate($event)" [(ngModel)]="userPIN1"
            type="password">
          <input class="input-wrapper__input" maxlength="4" (input)="validate($event)" [(ngModel)]="userPIN2"
            type="password" placeholder="confirm PIN">
        </div>
      </ng-container>
    </div>
  </div>
  <!-- Buttons -->
  <div class="nav-buttons">
    <button routerLink="/start" [hidden]="this.registerStep>0" (click)="onClickPrev()"
      class="nav-buttons__btn nav-buttons__btn--prev">Back</button>
    <button *ngIf="this.registerStep>0" (click)="onClickPrev()"
      class="nav-buttons__btn nav-buttons__btn--prev">Back</button>
    <button [hidden]="this.registerStep==4" (click)="onClickNext()" [disabled]="btnIsDisabled" id="next"
      class="nav-buttons__btn nav-buttons__btn--next">{{btnNextText}}</button>
    <button *ngIf="this.registerStep==4" (click)="onClickNext()" [disabled]="btnIsDisabled"
      class="nav-buttons__btn nav-buttons__btn--next" routerLink="/start">{{btnNextText}}</button>
  </div>
</div>
