
<div class="register-background">
  <div class="register-background__headline">
    <h1 class="register-background__title">Welcome to Lodówkapp</h1>
    <p class="register-background__sub-title">Start by adding members of your family for a more personalised experience.</p>
  </div>
  <div class="register-background__text">
    <h2 class="register-background__text-headline">Family members</h2>
    <p class="register-background__text-description">Tap an avatar to log in as a family member.</p>
  </div>
  <div class="register-background__members">
    <div class="register-background__card">
      <span class="register-background__card-button"></span>
      <p class="register-background__card-description">Add new<br>member</p>
    </div>
  </div>
</div>