
.register-background {
  position: relative;
  width: 1080px;
  height: 1920px;
  background-image: url("src/assets/pexels-photo-1640777.png");
  background-repeat: no-repeat;
  background-position: 30% 50%;
  border: 1px solid black;

  &__headline {
    width: 800px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 165px;
    transform: translateX(-50%);
    text-align: center;
  }
  &__title {
    font-weight: 300;
    font-size: 68px;
    color: #5F7891;
  }

  &__sub-title {
    color: #5F7891;
    font-size: 16px;
  }

  &__text {
    height: 100px;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 753px;
  }

  &__text-headline {
    font-weight: 300;
    font-size: 46px;
    color: #5F7891;
  }

  &__text-description {
    color: #5F7891;
    font-size: 16px;
  }

  &__members {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 810px;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    top: 908px;
  }

  &__card {
    position: relative;
    width: 214px;
    height: 255px;
    background-color: white;
    border: 1px solid #5F7891;
    border-radius: 30px;
    margin: 0 20px 20px;
  }

  &__card-button {
    background-image: url("src/assets/add-member.png");
    width: 63px;
    height: 63px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
  }

  &__card-description {
    font-size: 19px;
    color: #5F7891;
    height: 51px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 53px;
    text-align: center;
  }
}

