
.start-background {
  position: relative;
  width: 1080px;
  height: 1920px;
  background-image: url("src/assets/pexels-photo-1640777.png");
  background-repeat: no-repeat;
  background-position: 30% 50%;
  border: 1px solid black;

  &__headline {
    width: 800px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 165px;
    transform: translateX(-50%);
    text-align: center;
  }

  &__title {
    font-weight: 300;
    font-size: 68px;
    color: #5F7891;
  }

  &__sub-title {
    color: #5F7891;
    font-size: 16px;
  }

  &__text {
    height: 100px;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 753px;
  }

  &__text-headline {
    font-weight: 300;
    font-size: 46px;
    color: #5F7891;
  }

  &__text-description {
    color: #5F7891;
    font-size: 16px;
  }
}

