<div class="login-panel" [hidden]="displayLoginPanel">
  <h2 class="login-panel__headline">Enter PIN to login {{infoToLogin?.name}}</h2>
  <p class="login-panel__paragraph">Insert 4 characters.</p>
  <input class="login-panel__input" [(ngModel)]="inputReset" (input)="verifyPIN($event)" maxlength="4" type="password">
  <button [ngStyle]="{'color': setBtnStatus(btnState)}" class="login-panel__btn" (click)="logIn()"
    [disabled]="isDisabled">{{btnInnerText}}</button>
</div>
<div class="members-container">
  <div class="logged" *ngFor="let user of users">
    <app-registersumm (emitLoginInfo)="getLoginData($event)" class="component-container__middle--summary"
      [infoToLogin]="user" [userName]="user.name" [chosenAvatar]="user.avatar" [chosenColor]="user.color"
      [userType]="user.type" [PIN]="user.pin">
    </app-registersumm>
  </div>
  <a [@FadeIn]="'up'" routerLink="/register" class="members-container__card">
    <span class="members-container__card-button"></span>
    <p class="members-container__card-description">Add new<br>member</p>
  </a>
</div>
