<div class="main-wrapper">
  <app-top-bar></app-top-bar>
  <app-list-header [canAddListItem]="true"></app-list-header>
  <div class="widgets-wrapper">
    <div class="widgets-wrapper__item">
      <span class="widgets-wrapper__item-button"></span>
      <p class="widgets-wrapper__item-description">Add widget</p>
    </div>
    <div class="widgets-wrapper__item">
      <span class="widgets-wrapper__item-button"></span>
      <p class="widgets-wrapper__item-description">Add widget</p>
    </div>
    <div class="widgets-wrapper__item">
      <span class="widgets-wrapper__item-button"></span>
      <p class="widgets-wrapper__item-description">Add widget</p>
    </div>
    <div class="widgets-wrapper__item widgets-wrapper__item--splited">
      <div class="widgets-wrapper__item">
        <span class="widgets-wrapper__item-button"></span>
        <p class="widgets-wrapper__item-description">Add widget</p>
      </div>
      <div class="widgets-wrapper__item">
        <span class="widgets-wrapper__item-button"></span>
        <p class="widgets-wrapper__item-description">Add widget</p>
      </div>
    </div>
    <div class="widgets-wrapper__item">
      <span class="widgets-wrapper__item-button"></span>
      <p class="widgets-wrapper__item-description">Add widget</p>
    </div>
    <div class="widgets-wrapper__item">
      <span class="widgets-wrapper__item-button"></span>
      <p class="widgets-wrapper__item-description">Add widget</p>
    </div>
  </div>
</div>
