.edit_box {
  width: 358px;
  height: 65px;

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__input-container {
    width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  &__input {
    height: 30px;
    width: 160px;
    margin-top: 8px;
    margin-bottom: 27px;

    &--invalid {
      margin-bottom: 0;
    }
  }

  &__validator {
    width: 160px;
    height: 27px;
    line-height: 25px;
    font-size: 15px;
    color: #FF4E4E;
    font-family: "Open Sans", sans-serif;
  }

}
