<div class="start-background">
  <div class="start-background__headline">
    <h1 class="start-background__title">Welcome to Lodówkapp</h1>
    <p class="start-background__sub-title">Start by adding members of your family for a more personalised experience.
    </p>
  </div>
  <div class="start-background__text">
    <h2 class="start-background__text-headline">Family members</h2>
    <p class="start-background__text-description">Tap an avatar to log in as a family member.</p>
  </div>
  <app-members-container></app-members-container>
  <app-top-bar></app-top-bar>
</div>
