.item {
  width: 100%;
  height: 79px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  padding: 19px 17px 19px 28px;
  position: relative;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #5F7891;
    user-select: none;
  }


  &__date {
    height: 41px;
    border-radius: 10px;
    color: #fff;
    line-height: 23px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    user-select: none;

    &--full {
      width: 126px;
      border: 1px solid #70D9A8;
      background-color: #70D9A8;
    }

    &--number {
      width: 92px;
      border: 1px solid #FFCE2D;
      background-color: #FFCE2D;
    }

    &--expired {
      width: 103px;
      border: 1px solid #FF4E4E;
      background-color: #FF4E4E;
    }
  }

}

.buy-label {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #00C3FF;
  border-radius: 21px;
  left: -21px;
  top: 18.5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__ico {
    background-image: url("~src/assets/shopping_list.png");
    width: 24px;
    height: 24px;
  }
}
