.container {
  color: #5F7891;
  background: url("../../../../assets/pexels-photo-1640777.png");
  background-attachment: fixed;
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 1080px;
  height: 1920px;
    margin: 0 auto;

  &__wrapper {
    width: 800px;
    position: relative;
  }

  &__delete {
    height: 40px;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    background: url("../../../../assets/bin.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    transition: .1s;
    background-position: -5px;


    &:active {
      transform: translateY(2px);
    }
  }

  &__button-back {
    position: absolute;
    top: 0;
    left: -100px;
    background-color: #00C3FF;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 20px auto;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    transition: .1s;

    &:active {
      transform: translateY(2px);
    }
  }

  &__list-item {
    min-height: 80px;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 24px 42px -8px rgba(0, 0, 0, 0.75);
  }

  &__date {
    opacity: .5;
  }

  &__text {
    word-wrap: break-word;
    margin: 10px 0;
    font-weight: bold;
  }
}
