.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 190px;
  color: #5F7891;
  background-color: #fff;
  border-radius: 10px;

  &__temperature {
    font-size: 64px;
    font-weight: 300;
  }

  &__weather {
    font-weight: 900;
  }

  &__description::first-letter {
    text-transform: uppercase;
  }

  &__icon {
    width: 125px;
    height: 125px;
  }
}


.loading {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(95, 120, 145, .2);
  border-radius: 50%;
  border-top-color: #5F7891;
  animation: spin 1s ease-in-out infinite;
  position: absolute;
  top: 70px;
  left: 160px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
