.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 190px;
  color: #5F7891;
  background-color: #fff;
  border-radius: 10px;

  &__temperature {
    font-size: 64px;
    font-weight: 300;
  }

  &__weather {
    font-weight: 900;
  }

  &__description::first-letter {
    text-transform: uppercase;
  }

  &__icon {
    width: 125px;
    height: 125px;
  }
}

.loading {
  height: 100%;
  text-align: center;
  line-height: 190px;
  font-size: 40px;
  color: #5F7891;

  &__dot {
    font-size: 60px;
  }

  &__dot:nth-of-type(1) {
    animation: jump 2s infinite;
  }

  &__dot:nth-of-type(2) {
    animation: jump 2s .5s infinite;

  }

  &__dot:nth-of-type(3) {
    animation: jump 2s 1s infinite;

  }
}

@keyframes jump {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;

  }
}
