<div class="wrapper">
  <ng-container *ngIf="headerToDisplay===0">
    <h2 [@Show]="'show'" class="wrapper__headline">First account needs to be a parent</h2>
  </ng-container>
  <ng-container *ngIf="headerToDisplay>0">
    <h2 [@Show]="'show'" class="wrapper__headline">Chose type of account to add new member</h2>
  </ng-container>

  <label [@FadeIn]="'up'" class="container">
    <input (click)="userParent()" type="radio" name="radio" checked={{isCheckedParent}}>
    <span class="checkmark checkmark--parent"></span>
    Parent
  </label>
  <label [@FadeIn]="'up'" class="container">
    <input [disabled]="isDisabled" (click)="userChild()" type="radio" name="radio">
    <span class="checkmark checkmark--child"></span>
    Child
  </label>
</div>
