.wrapper {
  display: flex;
  flex-wrap: wrap;

  &__headline {
    margin: auto;
    margin-bottom: 4px;
    font-size: 56px;
    font-weight: 300;
  }

  &__paragraph {
    margin: auto;
    font-size: 16px;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    width: 45%;
    margin: auto;

    input {
      display: flex;
      opacity: 0;
      cursor: pointer;
      width: 100%;


      &:checked~.checkmark::after {
        display: block;
      }
    }

    .checkmark {
      width: 280px;
      height: 335px;
      background-color: rgb(140, 140, 140);
      opacity: 0.7;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30%;
      border-radius: 40px;

      &--parent {
        background-image: url('../../../../assets/user-solid.svg');
      }

      &--child {
        background-image: url('../../../../assets/baby-solid.svg');

      }

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &:hover input~.checkmark {
      opacity: 0.9;
    }

    input:checked~.checkmark {
      background-color: #00C3FF;
    }

    input:disabled~.checkmark {
      background-color: #ddd;
      opacity: 0.7;
    }

  }
}
