<div class="wrapper">
  <ng-container *ngIf="headerToDisplay===0">
    <h2 class="wrapper__headline">First account needs to be a parent</h2>
  </ng-container>

  <label class="container">
    <input (click)="userParent()" type="radio" name="radio" checked={{isCheckedParent}}>
    <span class="checkmark checkmark--parent"></span>
    Parent
  </label>
  <label class="container">
    <input [disabled]="isDisabled" (click)="userChild()" type="radio" name="radio">
    <span class="checkmark checkmark--child"></span>
    Child
  </label>
</div>
