.wrapper {
  background-color: transparent;
  width: 1080px;
  height: 1920px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  color: #5F7891;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url("src/assets/pexels-photo-1640777.png");
  background-repeat: no-repeat;
  background-position: 30% 50%;

  &__img {
    width: 400px;
    height: 400px;
    background-image: url("src/assets/potato.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30% 50%;
    outline: none;

    &:hover {
      cursor: pointer;
      animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    }
  }

  &__title {
    font-size: 68px;
    font-weight: 300;
  }

  &__describe {
    font-size: 48px;
    font-weight: 300;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-4px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
