.youtube-content {
  background: url("../../../../assets/pexels-photo-1640777.png");
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #5F7891;
  position: relative;


  &__container {
    width: 800px;
    margin: 20px 0;
  }

  &__player {
    width: 100%;
    height: 450px;
    border-radius: 10px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    width: 49%;
    height: 700px;
    margin-top: 20px;
    background-color: rgba(rgb(0, 195, 255), .2);
    border-radius: 10px;
    padding: 10px;
  }

  &__thumbnail {
    width: 100%;
    border-radius: 10px;
  }

  &__title {
    font-size: 26px;
    font-weight: 300;
    height: 130px;
    overflow: hidden;
  }

  &__description {
    font-size: 14px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
  }

  &__button {
    background-color: #00C3FF;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    outline: none;
    margin: 20px auto;
    display: block;
    color: #fff;
    transition: .1s;

    &:active {
      transform: translateY(2px);
    }

    &--href {
      text-decoration: none;
      text-align: center;
      line-height: 60px;
      position: fixed;
      top: 0;
      left: 5%;
      width: 60px;
      height: 60px;
      font-size: 30px;
    }
  }

  &__date {
    font-size: 14px;
    text-align: center;
  }
}
