.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  height: 79px;
  background-color: #5F7891;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  padding: 0 20px;


  &__title {
    font-size: 20px;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    height: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    padding: 0 16px;
    margin: 0 5px;
    outline: none;
    transition: .1s;

    &:active {
      transform: translateY(2px);
    }
  }

  &__button-add {
    width: 40px;
    background: url("../../../../assets/plus.svg");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .2);
    background-position: 10px, 10px;
  }
}

.wrapper {
  height: 320px;
  overflow: hidden;
  background-color: aqua;
}

.list-item {
  position: relative;
  z-index: 9;
  height: 79px;
  width: 420px;
  background-color: #aaa;
  border-radius: 10px;
  margin-bottom: 1px;

}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
}
