<div class="colors">
  <div class="colors__header-container">
    <div class="colors__title">What is your favorite color?</div>
    <div class="colors__text">You will be able to log in by tapping your avatar.</div>
  </div>
  <div class="colors__buttons-container">
    <button class="colors__btn colors__btn--blue"></button>
    <button class="colors__btn colors__btn--lightblue"></button>
    <button class="colors__btn colors__btn--green"></button>
    <button class="colors__btn colors__btn--orange"></button>
    <button class="colors__btn colors__btn--purple"></button>
    <button class="colors__btn colors__btn--pink"></button>
  </div>
</div>
