<div class="wrapper">
  <div class="canvas-wrapper">
    <canvas #myCanvas width="840px" height="800px" style="border-radius: 10px" (touchstart)="mouseDown($event)" (touchend)="mouseUp($event)" (touchmove)="draw($event)"></canvas>
  </div>

  <div class="buttons-wrapper">
    <button class="button" (click)="pencilMode()">Rysuj</button>
    <button class="button" (click)="rubberMode()">Gumka</button>
    <button class="button" (click)="clearCanvas()">Zacznij od nowa</button>
    <button class="button">Zapisz</button>
  </div>
</div>
