<div class="wrapper">
  <div class="canvas-wrapper">
    <canvas #myCanvas id="myCanvas" class="canvas" (touchstart)="mouseDown($event)" (touchend)="mouseUp($event)" (touchmove)="draw($event)"></canvas>
  </div>

  <div class="buttons-wrapper">
    <button class="button" (click)="pencilMode()"><img class="button__img" src="../../../assets/pencil.svg"></button>
    <button class="button" (click)="rubberMode()"><img class="button__img" src="../../../assets/rubber.svg"></button>
    <button class="button" (click)="clearCanvas()"><img class="button__img" src="../../../assets/bin.svg"></button>
    <button class="button" (click)="saveCanvas()"><img class="button__img" src="../../../assets/save.svg"></button>
  </div>
</div>
